.p-first{
    text-align: center;
}
.section-first{
    padding-top: 20px;
    padding-left: 350px;
}
.section-second{
    padding-left: 350px;
    padding-top: 20px;
}
.p-third{
    text-align: center;
}
.h-third{
 
}